@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:ital,wght@1,100&family=Rock+Salt&display=swap');

#content{
    max-width: 1600px;
    border: 1px solid #ce736c;
    margin:0, auto;
}
.main {
    margin:0, auto;
}
div{
    margin: 0, auto;
    text-align: center;
}

nav a{
text-align: center;
padding: 50px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}



.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: border-box;
}
#background{
   height: 1500px;
}

body{background-color:#d4a0a7;
    margin:0;
    padding:0;
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{background-color: #ce736c;
    text-align: center;
    color:white;
    padding: 50px;

}

title{
    text-align: center;
}
nav a:hover{background-color:#d4a0a7;

}

.book, .join{background-color: #ce736c;

}
.book:hover, .join:hover{background-color:#d4a0a7;

}
#background{background-color: #ce736c;

}
.msg{background-color:#d4a0a7;
    background-color: #d4a0a7;
    line-height: 1.5em;
}
footer{
    
    text-decoration: solid
    
}

nav a{
    background-color:#ce736c;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: #ce736c;
    color: white;
}
.home-title{
    background-color: #ce736c;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
h4{
    background-color:#ce736c;
    color: white;
}
.book, .join{
    background-color: #ce736c;
    color: white;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #ce736c;
    color: white;
}
.msg h2{
    background-color: #ce736c;
    color: white;
    margin: 0;
}
.msg p{
    background-color: #ce736c;
    color: white;
}
footer h3{
    background-color: #ce736c;
    color: white;
}
footer a{

    color: white;
}
footer a:hover{

    color: white;
}

.icon {
    width: 80px;
}

footer h3 a:hover{
    text-decoration: none;
}

#a{
    text-align: center;

}
.main{
    text-align: center;
    text-decoration: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
h2 {
    margin: 0;
}
#logo_link   {
    padding-top: 5px;
}
nav a {
    padding: 35px;
}
.book, .join  { 
    padding: 15px 30px;}
.icon   {
    padding-top: 10px;}
.msg   {
padding: 35px;
}
.msg p   {
    padding-bottom: 15px;
}
footer  {
     padding: 25px 50px;
}
footer .social img   {
    padding-top: 15px;
    align-items: left;
    align-content: left;
}
.book, .join {
    background-color: #d9c2a3;
    color: rgb(24, 23, 23);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.home-title   {
    margin-top: 10px;
}
.book, .join   {
    margin-top: 50px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer   {
    margin-top:200px;
    text-align: left;
    align-items: left;
    align-content: left;
}
.card-img {
    border: 10px solid #d9c2a3;
}