@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:ital,wght@1,100&family=Rock+Salt&display=swap');

#content{
    max-width: 1600px;
    border: 1px solid #ce736c;
    margin:0, auto;
}
.main {
    margin:0, auto;
    display: grid;
}
div{
    margin: 0, auto;
    text-align: center;
}

nav a{
text-align: center;
padding: 35px;
background-color:#ce736c;
color: white;
text-decoration: none;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
}
#hero-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: border-box;
}
#background{
   height: columns 1 to 11
   rows 4 to 9;
}

body{background-color:#d4a0a7;
    margin:0;
    padding:0;
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{background-color: #ce736c;
    display: grid;
    grid-template-columns: 150px auto;
        

}

title{
    text-align: center;
}
nav{background-color:#ce736c;
    display: flex;
    justify-content: space-around;
    justify-content: left;

}



#background{background-color: #ce736c;

}


nav a:hover{
    background-color: #ce736c;
    color: white;
}
.home-title{
    
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
   
    color: white;
}

.book:hover, .join:hover{
    background-color: #ce736c;
    color: white;
    
}
.msg h2{
    background-color: #ce736c;
    color: white;
    margin: 0;
}
.msg p{
    background-color: #ce736c;
    color: white;
    padding-bottom: 35px;
}
footer h3{
    background-color: rgb(228, 99, 189);
    color: rgb(228, 99, 189);
}
footer a{

    color: white;
}
footer a:hover {
    color: #2f3e46;
}

footer .social img {
    padding-top: 15px;
}

footer h3 {
    color: pink;
}

footer a {
    color: pink;
    text-align: center;
    text-decoration: none;
}



footer h3 a:hover{
    text-decoration: underline;
    color: white;
    background-color: white;
}

#a{
    text-align: center;

}
.main {
    text-align: center;
    text-decoration: black;
}

.main home-grid {
    display: grid;
    grid-template-columns: 10;

}



.logo {
    width: 80px;

}

h2 {
    margin: 0;
}
#logo_link   {
    padding-top: 5px;
    justify-self: center;
    align-self:center
}

.icon   {
    padding-top: 10px;
    width: 80px;}


footer  {
     padding: 25px 50px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 200px;
     text-decoration: solid
    
     
}
footer .social img   {
    padding-top: 15px;
    align-items: left;
    align-content: left;
}
.book, .join {
    background-color: #d9c2a3;
    color: rgb(238, 230, 230);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;


}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #2f3e46;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #aacfb2
}

.card-img, .mountains {
    width: 100%;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #2f3e46; 
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #2f3e46;
    padding: 35px;
    background-color:#d4a0a7;
    line-height: 1.5em
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
